<section class="bg-light" id="services">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Organizza il tuo gruppo</h2>
                <p class="lead">Con la Dashboard puoi organizzare il tuo bot in modo più facile e intuitivo! Gestisci il tuo gruppo a 360 gradi con un semplice click!
                  <br>
                  <br>
                Imposta in modo semplice il benvenuto del tuo gruppo, filtri, regole, badword e tanto altro ancora!
                <br>
                <hr>
                <h1>ℹ️ GUIDA</h1>
                <br>
                Per abilitare la dashboard devi aver inserito <a href="https://t.me/thenebulabot?startgroup=start">Nebula</a> nel tuo Gruppo<br>
                ed essere proprietario o amministratore del gruppo ti basta digitare <code>/dashboard</code> nel tuo gruppo<br>
                </p>
                <h3>Puoi trovare supporto nel nostro gruppo di <a href="https://t.me/nebulabot_support">Nebula Bot</a></h3>
            </div>
        </div>
    </div>
</section>