<li class="nav-item">
    <a class="nav-link" href="https://nebula.squirrel-network.online/dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Interface
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
        aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Section:</h6>
            <a class="collapse-item" href="https://nebula.squirrel-network.online/dashboard">Home</a>
            <a class="collapse-item" href="https://nebula.squirrel-network.online/logout">Logout</a>
            <div class="collapse-divider"></div>
        </div>
    </div>
</li>