<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CRM - Owner</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>
<body>
{% if owner %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <p class="navbar-brand">CRM</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="https://nebula.squirrel-network.online/crm">CRM <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://nebula.squirrel-network.online">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://nebula.squirrel-network.online/dashboard">Dashboard</a>
      </li>
    </ul>
  </div>
</nav>
    <form name="testform" method="post" action="crm">
    <div class="container">
        <h1>Gestisci Endpoint News</h1>

         <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Titolo</span>
            </div>
        <input type="text" class="form-control" placeholder="Titolo" name="title" aria-label="Python" aria-describedby="basic-addon1" required>
        </div>

        <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Linguaggio</span>
            </div>
        <input type="text" class="form-control" placeholder="Python" name="lang" aria-label="Python" aria-describedby="basic-addon1" required>
        </div>

        <div id="editor">
            <p>Python Best Language</p>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg btn-block" name="sendarticle">Invia</button>


    </div>
        <input type="hidden" name="valore_editor">
        <script type="module">
        const editor = await ClassicEditor.create(document.querySelector('#editor'));
        const form = window.testform;
        const valore = form.elements.valore_editor;

        form.addEventListener('submit', event => {
            event.preventDefault();

            const editorData = editor.getData();
            valore.value = editorData;

            form.submit();
        });
        </script>

    </form>
    <div class="container">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for row in data %}
    <tr>
      <th scope="row">{{row['article_id']}}</th>
      <td>{{row['title']}}</td>
      <td><form action="{{ url_for('deletearticle', id = row['article_id']) }}" method="POST"><button type="submit" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></button></form></td>
  {% endfor %}
    </tr>
    <tr>
  </tbody>
</table>
     <a href="https://api.nebula.squirrel-network.online/v1/news" class="btn btn-info btn-circle">Visita ENDPOINT NEWS</a>
    <hr>
    <h1>Gestisci Endpoint Staff</h1>
    <form method="POST">
    <div class="form-group">
        <label for="exampleFormControlFile1">Immagine Staffer</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
    </div>
    </form>
    </div>

{% else %}
<h1>Non sei Autorizzato a vedere questa pagina</h1>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
