<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Nebula Dashboard, Benvenuto {{session['username']}}</title>

        <!-- Custom fonts for this template -->
        <link href="https://nebula.squirrel-network.online/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="https://nebula.squirrel-network.online/static/css/sb-admin-2.min.css" rel="stylesheet">

        <!-- Custom styles for this page -->
        <link href="https://nebula.squirrel-network.online/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    </head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            {% include "components/dashboard/brand.html" %}

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="https://nebula.squirrel-network.online/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Heading -->
            <div class="sidebar-heading">
                Navigator
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Section:</h6>
                        <a class="collapse-item" href="https://nebula.squirrel-network.online/dashboard">Home</a>
                        <a class="collapse-item" href="https://nebula.squirrel-network.online/logout">Logout</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{session['username']}}</span>
                                <img class="img-profile rounded-circle"
                                    src="{{session['photo_url']}}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                {% if data %}
                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">Benvenuto, {{session['username']}}</h1>
                    <p class="mb-4">Stai modificando il gruppo <b>{{data['group_name']}}</b></p>
                    <img src="{{data['group_photo']}}" class="img-thumbnail" style="max-width: 220px;border-radius: 110px;" alt="{{data['group_name']}}">
                    <p class="mb-4">Ci sono <b>{{data['total_users']}}</b> Utenti nel tuo gruppo</p>

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Group Settings</h1>
                    </div>

                    <div class="row">


                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Default Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Welcome Settings & Rules</h6>
                                </div>
                                <div class="card-body">
                                    <h2 id="gotowelcome">Benvenuto del gruppo:</h2>
                                    <form method="POST">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="welcome" required>{{data['welcome_text']}}</textarea>
                                        <h4>I tag disponibili per il welcome sono:</h4>
                                        <ul>
                                            <li><b>{mention}</b> = Menzione Utente(Consigliato)</li>
                                            <li><b>{username}</b> = Username dell'utente (@username)</li>
                                            <li><b>{first_name}</b> = Nome Utente</li>
                                            <li><b>{userid}</b> = Id Utente</li>
                                            <li><b>{chat}</b> = Nome della chat</li>
                                        </ul>
                                        <h4>Comportamento del Welcome quando un utente non ha un username:</h4>
                                        <select class="form-control" aria-label="Seleziona Categoria" name="tpnuselect">
                                        {% for row in tpnu %}
                                            <option
                                                value="{{row['type_no_username_id']}}"
                                                {% if data['type_no_username'] == row['type_no_username_id'] %} selected {% endif %}
                                            >{{row['type_no_username_desc']}}</option>
                                        {% endfor %}
                                        </select>
                                        <br>
                                        <h4>Filtri del Benvenuto:</h4>
                                        <!--GRID FILTRI-->
                                        {% include "components/dashboard/edit/welcome_filter.html" %}
                                        <!--FINE GRID FILTRI-->
                                        <br>
                                        <hr>
                                            <h2 id="gotorules">Regole del gruppo:</h2>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="rules" required>{{data['rules_text']}}</textarea>
                                            <br>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block" name="updateoptions">Aggiorna</button>
                                    </form>
                                </div>
                            </div>

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Send Message with Bot</h6>
                                </div>
                                <div class="card-body">
                                    <form method="POST">
                                        <h2 id="gotomessage">Invia un Messaggio nel Gruppo {{data['group_name']}} dal Bot:</h2>
                                           <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="sendbot"></textarea>
                                           <br>
                                           <button type="submit" class="btn btn-primary btn-lg btn-block" name="sendmessagebutton">Invia Messaggio</button>
                                        </form>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">

                            <!--<div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Basic Card Example 1</h6>
                                </div>
                                <div class="card-body">
                                    The styling for this basic card example is created by using default Bootstrap
                                    utility classes. By using utility classes, the style of the card component can be
                                    easily modified with no need for any custom CSS!
                                </div>
                            </div>-->

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Group BadWords</h6>
                                </div>
                                <div class="card-body">
                                    <form method="POST">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Badword</span>
                                            <input type="text" class="form-control" placeholder="Inserisci Badword" aria-label="Title" aria-describedby="basic-addon1" name="badword" required="true">
                                          </div>
                                          <button  class="btn btn-primary btn-lg btn-block" name="updatets">Inserisci Badword</button>
                                      </form>
                                      <br>
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Elimina</th>
                                                    <th>Badword</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for row in badwords %}
                                                <tr>
                                                    <td><form action="{{ url_for('deletebadword', id = row['id'], groupid = data['id_group']) }}" method="POST"><button type="submit" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></button></form></td>
                                                    <td><b>{{row['word']}}</b></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="col-lg-6">

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Basic Card Example 2</h6>
                                </div>
                                <div class="card-body">
                                    The styling for this basic card example is created by using default Bootstrap
                                    utility classes. By using utility classes, the style of the card component can be
                                    easily modified with no need for any custom CSS!
                                </div>
                            </div>
                        </div>

                        </div>

                    </div>-->

                </div>
                <!-- /.container-fluid -->

            </div>
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Filtri nel Gruppo</h6>
            </div>
                <div class="card-body">
                    <h1>UNDER CONSTRUCTION</h1>
                    <!--<div class="container">
                        <div class="row">
                          <div class="col">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                        </div>
                    </div>
                          <div class="col">Column</div>
                          <div class="w-100"></div>
                          <div class="col">Column</div>
                          <div class="col">Column</div>
                        </div>
                      </div>-->

                        </div>
                    </div>
                </div>
            <!-- End of Main Content -->
            {% else %}
                <h1><b>Non hai l'autorizzazione per modificare questo gruppo!</b></h1>
            {% endif %}
            <!-- Footer -->
            {% include 'components/dashboard/footer.html' %}

</body>

</html>